@model HotelReservastionsManager.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakfastIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllInclusive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllInclusive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
    </dl>
</div>
<h4 class="mt-4">Clients</h4>
<hr />
<div>
    @if (Model.ReservationClients != null && Model.ReservationClients.Any())
    {
    <table class="table">
            <thead>
                <tr>
                    <th>First name</th>
					<th>Last name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Adult</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rc in Model.ReservationClients)
                {
                    <tr>
                        <td>@rc.Client.FirstName</td>
                        <td>@rc.Client.LastName</td>
                        <td>@rc.Client.PhoneNumber</td>
                        <td>@rc.Client.Email</td>
                        <td>@(rc.Client.Adult ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No clients found for this reservation.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>